<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <head th:include="include/head::head"></head>
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div th:include="include/header::header"></div>
    </div>
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->
        <div th:include="include/menu::menu"></div>


        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">

            <div class="thfwindows page-content">

                <div class="page-header">
                    <h1>
                        Dashboard
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            欢迎页面
                        </small>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        欢迎使用
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--<div class="footer">-->
    <!--<div class="footer-inner">-->
    <!--<div class="footer-content">-->
    <!--<span class="bigger-120">-->
    <!--<span class="blue bolder">Ace</span>-->
    <!--Application &copy; 2013-2014-->
    <!--</span>-->

    <!--&nbsp; &nbsp;-->
    <!--<span class="action-buttons">-->
    <!--<a href="#">-->
    <!--<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>-->
    <!--</a>-->

    <!--<a href="#">-->
    <!--<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>-->
    <!--</a>-->

    <!--<a href="#">-->
    <!--<i class="ace-icon fa fa-rss-square orange bigger-150"></i>-->
    <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">-->
    <!--<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>-->
    <!--</a>-->
</div>


<script th:inline="javascript">


    function refresh(url) {
        // alert(url);
        $('.thfwindows').load(url);

    }

    var context = [[${#httpServletRequest.getContextPath()}]];

    console.log(context);



</script>
</body>
</html>
